body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d6c3c3;
}

header {
    background-color: #696666;
    padding: 10px;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.menu li a {
    color: white;
    text-decoration: none;
}